save=true
save-exact=true
@desarrollo_web:registry=https://gitlab.mayoral.com/api/v4/packages/npm/
//gitlab.mayoral.com/api/v4/packages/npm/:_authToken= "VvbtR-Sx3yY9wHHp2uMF"
//gitlab.mayoral.com/api/v4/projects/221/packages/npm/:_authToken= "VvbtR-Sx3yY9wHHp2uMF"
