<div class="product">
  <div class="container">
    <ng-container *ngIf="loading">
      <div class="spinner-wrapper">
        <div class="spinner-inner">
          <div class="spinner spinner-1"></div>
          <div class="spinner spinner-2"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading">
      <app-qr-modal #qrModal [text]="product.urlECM"></app-qr-modal>

      <div class="row">
        <div class="col-xs-20 col-sm-11 col-md-7 product__main">
          <ngb-carousel class="product__gallery">
            <ng-container *ngFor="let img of gallery">
              <ng-template ngbSlide>
                <img [src]="img" alt="Random first slide" class="img-fluid">
              </ng-template>
            </ng-container>
          </ngb-carousel>
        </div>

        <div class="col-xs-20 col-sm-9 col-md-5 product__sidebar">
          <div class="product__sidebar-head">
            <div class="product__title">{{product.descart}}</div>
            <div class="product__price">
              <span>{{product.pvp | price}} {{product.moneda}}</span>
            </div>

            <div class="product__hotlinks">
              <button class="product__externalLink mr-3" (click)="openStoreLink()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M13 3L16.293 6.293 9.293 13.293 10.707 14.707 17.707 7.707 21 11 21 3z"/><path d="M19,19H5V5h7l-2-2H5C3.897,3,3,3.897,3,5v14c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2v-5l-2-2V19z"/></svg>
                <span>Abrir enlace a tienda</span>
              </button>

              <button class="product__externalLink product__externalLink--qr" (click)="qrModal.open()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M11 8h-1V6h1v1h2v1h-1v1h-1V8zm2 12v-1h-1v1h1zM12 5V4h-2v1h1v1h1V5zm8-1v6h-1V9h-4V4h5zm-1 4V5h-3v3h3zM5 10H4v1h2v-1H5zm0 3h1v1h1v-3H6v1H4v2h1v-1zm5 1v2h1v-2h-1zm4-10h-1v3h1V4zm0 5V8h-1v1h1zm3-2h1V6h-1v1zM7 6H6v1h1V6zm2-2v5H4V4h5zM8 5H5v3h3V5zm9 5v1h-1v-1h-2v1h-1v-1h-3V9H9v1H8v1h1v2h1v-1h1v2h1v-2h3v1h-2v1h2v1h1v-3h1v1h1v2h1v-1h1v-1h-1v-1h-1v-1h1v-1h-2zM6 18h1v-1H6v1zm-2-3h5v5H4v-5zm1 4h3v-3H5v3zm12-3v-1h-1v1h1zm0 1h-1v1h-1v-1h-1v-1h1v-1h-2v-1h-1v2h-1v1h-1v3h1v-1h1v-1h2v2h1v-1h1v1h2v-1h1v-1h-2v-1zm-9-3h1v-1H8v1zm10 2v1h1v1h1v-3h-1v1h-1zm2 4v-1h-1v1h1zm0-8v-1h-1v1h1zM18 2h4v4h2V0h-6v2zM2 6V2h4V0H0v6h2zm4 16H2v-4H0v6h6v-2zm16-4v4h-4v2h6v-6h-2z"/></svg>
                <span>QR code</span>
              </button>
            </div>
          </div>

          <div class="product__block product__sizes">
            <div class="product__block-title">Tallas disponibles</div>
            <div class="product__block-content">
              <div class="product__sizes-list">
                <div class="product__size" [ngClass]="{'product__size--active': size.talla === product.talla}"
                     *ngFor="let size of product.tallaje"
                     [ngbTooltip]="size.talla === product.talla ? 'Talla actual' : null">
                  <span>{{size.talla}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="product__divider"></div>

          <div class="product__block product__colors">
            <div class="product__block-title">Más colores</div>

            <div class="product__block-content">
              <carousel [cellWidth]="80" [height]="100" [freeScroll]="true">
                <a [routerLink]="'/product/' + color.codbar_color" class="carousel-cell product__color"
                   *ngFor="let color of colors">
                  <div class="product__color-image"
                       [style.background-image]="'url(' + color.imgpath + color.imagenes[0] + ')'"></div>

                  <div class="product__color-name">
                    <span>{{color.colores_desccol}}</span>
                  </div>
                </a>
              </carousel>
            </div>
          </div>

          <div class="product__divider"></div>

          <div class="product__block">
            <div class="product__block-title">Composición</div>
            <div class="product__block-content">
              <div class="product__composition">
                <div class="product__composition-item" *ngFor="let composicion of product.composicion"
                     [innerHTML]="composicion.html"></div>
              </div>
            </div>
          </div>

          <div class="product__qr" tabindex="-1">
            <app-qr [text]="product.urlECM" [size]="250"></app-qr>

            <a href="javascript:void(0)" (click)="openStoreLink()" class="product__qr-label">
              Enlace al producto
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.465,11.293c1.133-1.133,3.109-1.133,4.242,0L13.414,12l1.414-1.414l-0.707-0.707c-0.943-0.944-2.199-1.465-3.535-1.465 S7.994,8.935,7.051,9.879L4.929,12c-1.948,1.949-1.948,5.122,0,7.071c0.975,0.975,2.255,1.462,3.535,1.462 c1.281,0,2.562-0.487,3.536-1.462l0.707-0.707l-1.414-1.414l-0.707,0.707c-1.17,1.167-3.073,1.169-4.243,0 c-1.169-1.17-1.169-3.073,0-4.243L8.465,11.293z"/><path d="M12,4.929l-0.707,0.707l1.414,1.414l0.707-0.707c1.169-1.167,3.072-1.169,4.243,0c1.169,1.17,1.169,3.073,0,4.243 l-2.122,2.121c-1.133,1.133-3.109,1.133-4.242,0L10.586,12l-1.414,1.414l0.707,0.707c0.943,0.944,2.199,1.465,3.535,1.465 s2.592-0.521,3.535-1.465L19.071,12c1.948-1.949,1.948-5.122,0-7.071C17.121,2.979,13.948,2.98,12,4.929z"/></svg>
            </a>
          </div>
        </div>
      </div>

      <div class="product__looks" *ngIf="product.combina.length > 1">
        <div class="product__looks-title">
          <span>Combina con</span>
        </div>

        <div class="product__looks-content">
          <carousel [cellsToShow]="6" [height]="260" [margin]="100" [freeScroll]="true"
                    [arrows]="combinations.length > 6">
            <div class="carousel-cell product__look" *ngFor="let combination of combinations">
              <div class="product__look-image"
                   [style.background-image]="'url(' + combination.imgpath + combination.imagenes[0] + ')'"></div>

              <div class="product__look-name">
                <span>{{combination.combdescart}}</span>
              </div>

              <div class="product__look-price">{{combination.combpvp | price}} {{combination.combmoneda}}</div>
            </div>
          </carousel>
        </div>
      </div>
    </ng-container>
  </div>
</div>
