:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

.app-version {
  position: absolute;
  right: var(--spacing-2);
  bottom: var(--spacing-2);
  font-size: var(--font-size-sm);
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.87);
  background: rgba(#000, 0.47);
  border-radius: 20px;
}

.app-notifications {
  position: fixed;
  top: 0;
  right: 0;
}
