:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dashboard__page {
  flex: 1 1 auto;
  overflow-y: auto;
}
