@font-face {
  font-family: Branding;
  font-weight: 300;
  src: url("../fonts/branding/branding-semilight.woff2") format("woff2");
}

@font-face {
  font-family: Branding;
  font-weight: 500;
  src: url("../fonts/branding/branding-medium.woff2") format("woff2");
}

@font-face {
  font-family: Branding;
  font-weight: 700;
  src: url("../fonts/branding/branding-semibold.woff2") format("woff2");
}

@font-face {
  font-family: Branding;
  font-weight: 900;
  src: url("../fonts/branding/branding-bold.woff2") format("woff2");
}
